/* hey its elaine here! feel free to use this however pls give credit to me by keeping this header thx :) */

/* jojoba (pls give credit to @elainehan if used) */

@font-face {
font-family: jojoba;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/jojoba-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/jojoba-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* papernotes (pls give credit to @elainehan if used) */

@font-face {
font-family: papernotes;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Papernotes.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/PapernotesRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* naturaly (pls give credit to @elainehan if used) */

@font-face {
font-family: naturaly;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/naturaly-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/naturaly-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* bobogo (pls give credit to @elainehan if used) */

@font-face {
font-family: bobogo;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Bobogo.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Bobogo.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* vividly (pls give credits to @chloetseng if used) */

@font-face {
font-family: vividly;
src: url('https://raw.githubusercontent.com/chloe-tseng/chloe-fonts/main/vividly-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/chloe-tseng/chloe-fonts/main/vividly-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* pen (pls give credits to @hestu_the_bestu (lydia) if used); note that this font was originally titled a casual handwritten pen */

@font-face {
font-family: pen;
src: url('https://raw.githubusercontent.com/Hestu-the-Bestu/fonts1/main/a.casual.handwritten.pen.noncommercial-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/Hestu-the-Bestu/fonts1/main/a.casual.handwritten.pen.noncommercial-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* over light (pls give credits to @hestu_the_bestu (lydia) if used) */

@font-face {
font-family: over light;
src: url('https://raw.githubusercontent.com/Hestu-the-Bestu/fonts1/main/over_light-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/Hestu-the-Bestu/fonts1/main/over_light-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* babydoll (pls give credits to @elainehan if used) */

@font-face {
font-family: babydoll;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/baby_doll-webfont.woff2') format('woff2'),
url('https://cdn.statically.io/ghhttps://raw.githubusercontent.comweight: normal;
font-style: normal;
}

/* pineapple grass (pls give credits to @elainehan if used) */

@font-face {
font-family: pineapple grass;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/pineapple_grass-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/pineapple_grass-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* lion cub (pls give credits to @elainehan if used) */

@font-face {
font-family: lion cub;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/lioncub-regular-2-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/lioncub-regular-2-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* hugs (pls give credits to @elainehan if used) */

@font-face {
font-family: hugs;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/hug_me_tight_-_otf-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/hug_me_tight_-_otf-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* flowerbust (pls give credits to @elainehan if used) */

@font-face {
font-family: flowerbust;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/flowerbust-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/flowerbust-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* lets play (pls give credits to @elainehan if used) */

@font-face {
font-family: lets play;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/lets_play-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/lets_play-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* mungil (pls give credits to @elainehan if used) */

@font-face {
font-family: mungil;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/mungil-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/mungil-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* spicy tuna (pls give credits to @elainehan if used) */

@font-face {
font-family: spicy tuna;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/spicytuna_demo-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/spicytuna_demo-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* little joodles (pls give credit to @elainehan if used) */

@font-face {
font-family: little joodles;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/littlejoodles-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/littlejoodles-regular-webfont.wofff') format('woff');
font-weight: normal;
font-style: normal;
}

/* pretty neat (pls give credit to @elainehan if used) */

@font-face {
font-family: pretty neat;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/prettyneat-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/prettyneat-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* ordinary notes (pls give credit to @elainehan if used) */

@font-face {
font-family: ordinary notes;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Ordinary%20Notes.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Ordinary%20Notes.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* study case (pls give credit to @elainehan if used) */

@font-face {
font-family: study case;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Study%20Case.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Study%20Case.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* handwriting (pls give credit to @elainehan if used) */

@font-face {
font-family: handwriting;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Handwriting-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Handwriting-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* honey salt (pls give credit to @elainehan if used) */

@font-face {
font-family: honey salt;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/HoneySalt.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/HoneySalt.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* milku (pls give credit to @elainehan if used) */

@font-face {
font-family: milku;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Milku.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Milku.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* cheeseburger (pls give credit to @elainehan if used) */

@font-face {
font-family: cheeseburger;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/CheeseBurger.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/CheeseBurger.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* cheese matcha (pls give credit to @elainehan if used) */

@font-face {
font-family: cheese matcha;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/CheeseMatcha.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/CheeseMatcha.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* harvest story (pls give credit to @elainehan if used) */

@font-face {
font-family: harvest story;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/HarvestStory.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/HarvestStory.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* bubble boop (pls give credits to @elainehan if used) */

@font-face {
font-family: bubble boop;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/BubbleBoop-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/BubbleBoop-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* oceana (pls give credits to @elainehan if used) */

@font-face {
font-family: oceana;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Oceana-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Oceana-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* winkle 2.0 (pls give credits to @elainehan if used) */

@font-face {
font-family: winkle;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Winkle2Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Winkle2Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}
